<blockquote class="layui-elem-quote">按钮</blockquote>
<div style="padding: 0 10px;">
    <button class="layui-btn layui-btn-primary">原始按钮</button>
    <button class="layui-btn">默认按钮</button>
    <button class="layui-btn layui-btn-normal">百搭按钮</button>
    <button class="layui-btn layui-btn-warm">暖色按钮</button>
    <button class="layui-btn layui-btn-danger">警告按钮</button>
    <button class="layui-btn layui-btn-disable">禁用按钮</button>
</div>

<div style="padding: 10px;">

  <div class="layui-btn-group">
    <button class="layui-btn">增加</button>
    <button class="layui-btn">编辑</button>
    <button class="layui-btn">删除</button>
  </div>
</div>

<div style="padding: 10px;">
  <div class="layui-btn-group">
    <button class="layui-btn layui-btn-small">
      <i class="layui-icon">&#xe654;</i>
    </button>
    <button class="layui-btn layui-btn-small">
      <i class="layui-icon">&#xe642;</i>
    </button>
    <button class="layui-btn layui-btn-small">
      <i class="layui-icon">&#xe640;</i>
    </button>
    <button class="layui-btn layui-btn-small">
      <i class="layui-icon">&#xe602;</i>
    </button>
  </div>
   
  <div class="layui-btn-group">
    <button class="layui-btn layui-btn-primary layui-btn-small">
      <i class="layui-icon">&#xe654;</i>
    </button>
    <button class="layui-btn layui-btn-primary layui-btn-small">
      <i class="layui-icon">&#xe642;</i>
    </button>
    <button class="layui-btn layui-btn-primary layui-btn-small">
      <i class="layui-icon">&#xe640;</i>
    </button>
  </div>
</div>