<div class="demo-info">
  <blockquote class="layui-elem-quote layui-quote-nm">
    <h1>基于layui的PC端单页面应用框架</h1>
    <h2>1.1 UI界面：layui</h2>
    <p>Layui 是一款采用自身模块规范编写的国产前端UI框架，遵循原生HTML/CSS/JS的书写与组织形式，门槛极低，拿来即用。非常适合界面的快速开发。Layui兼容除IE6/7以外的全部浏览器，并且多数结构支持响应式。 官网：http://www.layui.com</p>

    <h2>1.2 模版引擎：firefly-template.js</h2>
    <p>自主研发的html模板组件，语法简单，高效，快捷。 </p>

    <h2>1.3 单页面应用：vipspa.js</h2>
    <p>一款支持IE8-浏览器的单页面hash监听机制组件，源码仅支持一个业务js，此系统已扩展支持多个业务js。 配置和使用方式下面会介绍。</p>
  </blockquote>
</div>
<style type="text/css">
  .demo-info{
    padding:20px;
    line-height:24px;
  }
  .demo-info h1{
    font-size:24px;
  }
  .demo-info h2{
    font-size:16px;
    padding-top:20px;
  }
  .demo-info p{
    font-size:14px;
  }
</style>