
<blockquote class="layui-elem-quote">组织管理</blockquote>
<fieldset class="layui-elem-field">
    <legend>组织负责人-张三</legend>
    <div class="layui-field-box">
        这个人叫张三
    </div>
</fieldset>
<div style="padding: 0 10px;">
    <button class="layui-btn">添加子部门</button>
    <button class="layui-btn layui-btn-normal">添加岗位</button>
    <button class="layui-btn layui-btn-warm">添加成员</button>
    <button class="layui-btn layui-btn-danger">编辑</button>
</div>
<div id="echart-home" style="width: 400px; height: 300px;"></div>